__pycache__/
*.pyc
.git/
.devcontainer/
.streamlit/
database.db
.env
secrets.toml
venv/
.vscode/
.idea/
.DS_Store
android_app_src/
android_app_src_backup/
jdk17/
.venv/
*.zip
*.apk
temp_check_zip/
extracted_files/
images/
tantan_web/
extract_app/
core_engine/
node_modules/
*.exe
*.deb
*.jpg
*.png
*.db
*.log
*.txt
!requirements.txt
!VERSION
jdk17.zip
deploy_app.zip
deploy_tantan_web.zip
ilogen_tms_for_kakao.zip
ngrok.exe
python-3.10.11-amd64.exe
cloudflared-linux-amd64.deb
dummy.jpg
*.tar
all_code.tar
